<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <link   th:href="@{/webjars/font-awesome/css/all.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Thymeleaf examples</title>
</head>
<body>
<footer th:fragment="footer" class="my-5 text-muted text-center small">
    <p class="mb-1">© 2026 Thymeleaf CAS-OOP</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/">Home</a></li>
        <li class="list-inline-item"><a th:href="@{/users/list}" >Users</a></li>
        <li class="list-inline-item"><a th:href="@{/stomp-broadcast}">WebSocket</a></li>
        <li class="list-inline-item"><a th:href="@{/h2-console}">H2</a></li>
        <li class="list-inline-item"><a th:href="@{/swagger-ui.html}">Swagger</a></li>
        <li class="list-inline-item" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
    </ul>
</footer>

<script th:fragment="toggleEyeScript"  type="text/javascript">
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        if (this.classList.contains("fa-eye-slash")) {
            this.classList.remove("fa-eye-slash")
            this.classList.add("fa-eye")
        } else {
            this.classList.remove("fa-eye")
            this.classList.add("fa-eye-slash")
        }
        // toggle the eye slash icon
        // this.classList.toggle('fa-eye fa-eye-slash');
    });
</script>
</body>
</html>
