<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Add User</title>
  <th:block th:insert="~{fragments/common.html :: headerfiles}"> </th:block>
</head>
<body>
<!--/*@thymesVar id="user" type="com.example.demoinitial.domain.User"*/-->
<div class="container ">
  <h2 class="mb-5 my-5">New User</h2>
  <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
  <div class="row">
    <div class="col-md-8">
      <form action="#" th:action="@{/users/adduser}" th:object="${user}" method="post">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name" class="col-form-label">User Name</label>
            <input type="text" th:field="*{username}" class="form-control" id="name" placeholder="Name">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email" class="col-form-label">Email</label>
            <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="password" class="col-form-label">Password</label>
            <div class="input-group" id="show_hide_password">
              <input type="password" th:field="*{password}" class="form-control" autocomplete="current-password" required="" id="password" placeholder="Password">
              <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
              <span class="input-group-text password-toggle" id="basic-addon4"><i class="fa fa-eye-slash" id="togglePassword" ></i></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-5">
            <input type="submit" class="btn btn-primary" value="Add User">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div th:insert="~{fragments/common.html :: toggleEyeScript}"></div>

<footer th:insert="~{fragments/common.html :: footer}"></footer>

</body>
</html>
