<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home Page</title>
    <th:block th:insert="~{fragments/common.html :: headerfiles}"> </th:block>
</head>
<body>
<div class="container">
    <div class="py-5">
        <a href="/"><h2>Home</h2></a>
        <p class="lead"></p>
    </div>
    <h1>Hello !</h1>
    <p>
        Welcome to <span th:text="${appName}">Our App</span>
    </p>
    <p>&nbsp; </p>
    <p>&nbsp; </p>
    <p>&nbsp; </p>
</div>
<th:block th:insert="~{fragments/common.html :: footer}"></th:block>
</body>
</html>
